@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@100;200;300;400;600&family=Outfit:wght@100;200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padding-container: 0px 0;
    --color-title: #001A49;
}

:root{
    --padding-container: 0px 0;
    --color-title: #001A49;
}

.container{
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.nav__items:hover{
    background: white;
    border-radius: 15px;
    padding: 5px 10px;
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 200px 1fr;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../img/fondo.jpg');
    clip-path: polygon(0 0, 100% 0, 72% 100%, 28% 100%);
    z-index: -1;
    filter: blur(6px);
}


.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_tittle{
    font-weight: 300;
}

.nav__link{
    transition: ease-in-out 0.5s;
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}


.nav__links{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.scroll{
    height: 100px;
}



.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
    font-family:'Outfit';
}

.hero__parrafo{
    font-family: 'Hepta Slab';
    font-size: 1rem;
    color: gray;
}

.descarga{
    display: inline-block;
    justify-self: center;
    padding: 13px 30px;
    background-image: url('../img/appstore.svg');
    width: 150px;
    height: 45px;
}

.descarga2{
    display: inline-block;
    justify-self: center;
    padding: 13px 30px;
    background-image: url('../img/google.svg');
    width: 140px;
    height: 47px;
}

.cta{
    display: inline-block;
    background-color: grey;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

------------------------

.title{
    font-size: 1rem;
    font-family:'Outfit';
}

.funciones{
    background-color: white;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    z-index: -1;
}

.function{
    position: relative;
    text-align: center;
    height: auto;
}

.subtitle{
    color: var(--color-title);
    font-family:'Outfit';
    font-size: 2rem;
    margin-bottom: 25px;
    padding-top: 25px;
}

title{
    font-family:'Outfit';
    font-size: 2rem;
}
.function__paragraph{
    font-family: 'Hepta Slab';
    font-size: 1rem;
}

.about__function{
    padding-top: 40px;
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.function__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
}

.about_diagrama{
    background-size: cover;
    width: 80%;
    justify-self: center;
}

.function__container{
    padding-top: 50px;
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

------------------------

.planes_title{
    font-family:'Outfit';
}

.planes{
    background-color: #f0f1f4;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
}

.planes{
    position: relative;
    text-align: center;
    height: auto;
}

.about__planes{
    padding-top: 40px;
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__planes:last-of-type{
    grid-column: 1/-1;
}

.cuadro_planes{
    display: grid;
    gap: 2em;
    border: 12px;
    justify-items: center;
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #f4f4f4;
}
---------------------
.marcas{
    background-color: #f0f1f4;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
}

.marcas{
    position: relative;
    text-align: center;
    height: auto;
}

---------------------------------
.foot{
    font-size: 16px;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barfooter {
    background-color: #1e1e1e;
    padding: 30px 0px;
}

.media {
    display: flex;
    column-gap: 20px;
}
.social-icon {
    width: 30px;
    height: 30px;
}

.social-icon{
    height: 40px;
    width: 40px;
    transition: 0.2s ease-in;
}

.social-icon:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;

}

.footlink {
    font-size: 16px;
    color: white;
}